body {
  font-family: Papyrus;
  text-align: center;
}

/* layout horizontal */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin: 20px;
}

#runBtn.valid {
    background-color: #4CAF50;
    color: white;
}

/* grille */
#game {
  display: grid;
}

/* images */
.front-img {
  width: auto;
  height: 6900px;
  object-fit: contain;
}
.side-img {
  width: auto;
  height: 420px;
  object-fit: contain;
}

/* boutons */
button {
  width: 40px;
  height: 40px;
  font-size: 12px;
}

#leaderboard {
  list-style: none;
  padding: 0;
}
