/* =========================
   BASE
========================= */

body {
  font-family: Papyrus;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

.game-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#game {
  flex-shrink: 0;
}
/* =========================
   WORKER BUTTON
========================= */

#runBtn.valid {
  background-color: #4CAF50;
  color: white;
}

/* =========================
   GRILLE DE JEU
========================= */

#game {
  display: grid;
}

/* =========================
   IMAGES
========================= */

.front-img {
  width: auto;
  height: 740px;
  object-fit: contain;
}

.side-img {
  width: auto;
  height: 630px;
  object-fit: contain;
}

/* =========================
   BOUTONS GRILLE
========================= */

button {
  width: 60px;
  height: 60px;
  font-size: 16px;
}

@media (max-width: 900px) {
  .optimiser {
    flex-direction: column;
  }

  .optimiser-image img {
    height: auto;
    width: 100%;
  }
}
/* =========================
   LEADERBOARD
========================= */

#leaderboard {
  list-style: none;
  padding: 0;
}

/* =========================
   TEXTAREAS (GLOBAL)
========================= */

textarea {
  width: 100%;
  font-family: monospace;
  margin-bottom: 10px;
}

/* Zone optimisation */
#input {
  height: 200px;
}

#solution {
  height: 200px;
}

/* Zone conversion */
#gridInput {
  height: 400px;      /* ~10 lignes visibles */
  resize: vertical;
}

#movesOutput {
  height: 40px;
  white-space: nowrap;
  overflow-x: auto;
}

/* =========================
   BOUTONS GÉNÉRAUX
========================= */

button {
  padding: 6px 12px;
  cursor: pointer;
}

/* Séparateur */
hr {
  margin: 40px 0;
}
